{% extends 'base.html.twig.' %}

{% block body %}
    <div class="jumbotron text-center bg-white">
        <h1 class="display-4">Wrong Way!</h1>
        <hr class="my-4">
        <figure>
            <iframe src="https://giphy.com/embed/vQ8l19eGwdfTq" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pizza-beer-bffls-vQ8l19eGwdfTq">via GIPHY</a></p>
        </figure>
        <a class="btn btn-outline-danger btn-sm" href="{{ path('home') }}" role="button">Go back home</a>
    </div>
{% endblock %}