{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ title }}</h1>
        <p class="lead">{{ description }}</p>
        <p class="lead">
            <a href="{{ path('event_list') }}" class="btn btn-lg btn-secondary">Check events</a>
        </p>
    </main>

{% endblock %}


