<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{{ path('home') }}">Home</a>
                <a class="nav-link" href="{{ path('event_list') }}">Events</a>
            </nav>
        </div>
    </header>