{% extends 'base.html.twig' %}

{% form_theme formEvent 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Create an Event🎉</h1>

    {{ form_start(formEvent,
        {'attr': {'novalidate' : 'novalidate'}}
    )
    }}

    {{ form_widget(formEvent) }}
    <button class="btn btn-outline-success" type="submit">Create</button>
    {{ form_end(formEvent) }}

{% endblock %}